@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-app {
  background-color: #f8f8f8;
}

.text-body * {
  color: #3b3b3b;
}

.text-primary {
  color: #af00dd;
}

.text-secondary {
  color: #008000;
}

.text-accent {
  color: #26aad7;
}

.bg-card {
  background-color: #ffffff;
}
