@import 'src/styles/variables.scss';

.nav-bar {
  @apply shadow-md opacity-95;
  background: $bg-app-1;
  top: 0;

  &.transparent {
    background: transparent;
    @apply shadow-none opacity-100;
  }

  &.retracted {
    top: -100%;
  }

  transition: background 0.25s ease, box-shadow 0.25s ease, opacity 0.25s ease,
    top 0.5s ease;
}

$indicator-thickness: 4px;

.nav-link {
  @apply text-white font-semibold;
}

.indicator-container {
  @apply absolute w-full pointer-events-none flex flex-row items-end justify-center;
  height: calc(100% + 3px);
}

.indicator {
  @apply rounded-full;

  border-bottom: $indicator-thickness white solid;
  width: $indicator-thickness;
}
