@import 'src/styles/variables.scss';

.nav-bar {
  @apply shadow-md opacity-95;
  background: $bg-app-1;
  top: 0;

  &.transparent {
    background: transparent;
    @apply shadow-none opacity-100;
  }

  &.retracted {
    top: -100%;
  }

  transition: background 0.25s ease, box-shadow 0.25s ease, opacity 0.25s ease,
    top 0.5s ease;
}

.nav-link {
  @apply text-white font-semibold;

  &:hover .indicator,
  &.active .indicator {
    opacity: 1;
    bottom: 0;
  }

  &.active .indicator {
    width: 90%;
  }

  .indicator {
    @apply absolute rounded;

    border-bottom: 2px solid white;
    width: 25%;
    opacity: 0;
    bottom: -10%;

    transition: width 0.5s, opacity 0.2s, bottom 0.1s;
  }
}
