@import 'src/styles/variables.scss';

.nav-bar {
  @apply shadow-md opacity-95;
  background: $bg-app-1;
  top: 0;

  &.transparent {
    background: transparent;
    @apply shadow-none opacity-100;
  }

  &.retracted {
    top: -100%;
  }

  transition: background 0.25s ease, box-shadow 0.25s ease, opacity 0.25s ease,
    top 0.5s ease;
}

.nav-link {
  @apply text-white font-semibold relative;

  // This is to prevent the hover event from sticking around after a click in a touchscreen
  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      opacity: 1;

      bottom: -10%;
    }
  }

  &.active::before {
    opacity: 1;

    width: 90%;
    left: 5%;

    bottom: -10%;
  }

  &::before {
    @apply absolute rounded;

    // required for ::before to appear
    content: '';

    border: 1.5px solid white;
    opacity: 0;

    bottom: -20%;

    width: 40%;
    left: 30%;

    transition: width 0.5s, left 0.5s, opacity 0.2s, bottom 0.1s;
  }
}
