.nav-link {
  @apply text-white font-semibold relative;

  $emphasis-opacity: 1;
  $emphasis-bottom: 1;

  // This is to prevent the hover event from sticking around after a click in a touchscreen
  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      opacity: $emphasis-opacity;
      bottom: $emphasis-bottom;
    }
  }

  &.active::before {
    opacity: $emphasis-opacity;
    bottom: $emphasis-bottom;

    width: 90%;
    left: 5%;
  }

  &::before {
    @apply absolute rounded pointer-events-none;

    // required for ::before to appear
    content: '';

    border: 1.5px solid white;
    opacity: 0;

    bottom: -20%;

    width: 40%;
    left: 30%;

    transition:
      width 0.5s,
      left 0.5s,
      opacity 0.2s,
      bottom 0.1s;
  }
}
